version: '3.8'

services:
  fastapi:
    build: ./backend
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    networks:
      - app-network

  # webapp:
  #   build: ./frontend
  #   container_name: angular-webapp
  #   ports:
  #     - "80:80"
  #   depends_on:
  #     - fastapi
  #   networks:
  #     - app-network

networks:
  app-network:
    driver: bridge
