/* Add this to ensure the map takes up space */
.map-container {
    width: 100%;
    height: 100vh; /* Or 100% if the parent component has a set height */
}

.layer-control {
    position: absolute;
    top: 120px;
    right: 30px;
    background: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
    max-height: 90%;
    overflow-y: auto;
    min-width: 200px;
}

.layer-item {
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
}

h3 {
    margin-top: 0;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}